.section-wrap {
    background: rgba(0,0,0,.03);
    padding: 48px 0 50px 0;
}

.title-wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.instagram-title {
    @include sections-title;
    color: $primary-text-color;
    flex-shrink: 0;

        &__small {
            display: none;
        }
}

.instagram-subtitle {
    color: $primary-text-color;
    font-size: 13px;
    font-weight: $font-weight-bold;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 10px;
    transition: .3s;

        &:hover {
            color: #8d8484;
        }
}

.instagram-image {
    display: flex;
    justify-content: space-between;
    gap: 10px;

        &__item {
            display: flex;
        }

        &__pic {
            width: 100%;
            max-width: 285px;
            object-fit: cover;
            aspect-ratio: 1;
        }
}

@media (max-width: 768px) {
    .instagram-image__item:last-child {
    display: none;
}
}

@media (max-width: 320px) {
    .section-wrap {
        background: inherit;
        padding: 38px 0 42px 0;
    }

    .title-wrap {
        padding-bottom: 13px;
    }

    .instagram-title {
        font-size: $font-size-small;

            &__medium {
               display: none;
            }
    
            &__small {
                display: block;
            }
    }

    .instagram-subtitle {
        display: none;
    }

    .instagram-image__pic {
        width: 100%;
        min-width: 285px;
    }

    .instagram-image__item:nth-child(3),
    .instagram-image__item:nth-child(2) {
        display: none;
    }
}
