.posts_wrap {
    padding: 66px 0 69px 0;
}

.content_title {
    @include sections-title;
    color: $primary-text-color;
    padding-bottom: 24px;
}

.section_content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-row-gap: 32px;
    grid-column-gap: 55px;
}

.post-card {
    @include flex-row;

    &__image {
        padding-right: 20px;
    }

    &__content {
        @include flex-column;
    }

    &__title {
        color: $primary-text-color;
        font-size: $font-size-normal;
        font-weight: $font-weight-bold;
        line-height: 22px;
    }

    &__subtitle {
        color: #7C7C7C;
        font-size: 12px;
        font-weight: $font-weight-normal;
        line-height: 20px;
        padding-bottom: 13px;
    }

    &__text {
        color: $secondary-text-color;
        font-size: $font-size-small;
        font-weight: $font-weight-normal;
        line-height: 24px;
    }
}

@media (max-width: 768px) {
    .section_content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row;
        grid-row-gap: 32px;
        max-width: 556px;
    }
}

@media (max-width: 320px) {
    .posts_wrap {
        padding: 38px 0 40px 0;
    }

    .section_content {
        grid-row-gap: 28px;
        
    }

    .content_title {
        font-size: $font-size-small;
    }

    .post-card {
        @include flex-column;
    
        &__image {
            padding-right: 20px;
        }
    
        &__content {
            @include flex-column;
        }
    
        &__title {
            color: $primary-text-color;
            font-size: $font-size-small;
            padding-top: 12px;
        }
    
        &__subtitle {
            color: #7C7C7C;
            font-size: 11px;
            font-weight: $font-weight-normal;
            line-height: 20px;
            padding-bottom: 0;
        }
    
        &__text {
           display: none;
        }
    }

    .post_item:last-child {
        display: none;
}
}