<footer class="footer_wrap outer_wrap">
    <div class="footer-content">
        <h2 class="footer-content__title">- get in touch with us -</h2>
        <p class="footer-content__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. <span class="footer-content__text--span">Curabitur blandit tempus porttitor vollisky inceptos mollisestor</span></p>
        <div class="socials">
            <a class="social__link social__link--rss" href="#"></a>
            <a class="social__link social__link--facebook" href="#"></a>
            <a class="social__link social__link--twitter" href="#"></a>
            <a class="social__link social__link--dribbble" href="#"></a>
            <a class="social__link social__link--pinterest" href="#"></a>
        </div>
        <div class="contacts">
            <p class="contacts__address">Moonshine St. 14-05 Light City &nbsp;&nbsp;/</p>
            <a class="contacts__tel" href="tel:+001234567890">&nbsp;&nbsp;T. +00 (123) 456 78 90&nbsp;&nbsp;/</a>
            <a class="contacts__email" href="mailto:first.last@email.com">&nbsp;&nbsp;first.last@email.com</a>
        </div>
    </div>
</footer>