<header class="header">
    <div class="container">
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link header__nav-link--active">Home</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">About Us</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">Our Journal</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">Projects</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">News</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">Features</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">Contact</a>
                </li>
            </ul>
            <button class="header__nav-btn">
                <span class="header__nav-btn-lines"></span>
            </button>
        </nav>
    </div>
</header>