<section>
    <div class="section-wrap">
        <div class="container">
            <div class="title-wrap">
                <h2 class="instagram-title">
                    <span class="instagram-title__medium">- Latest Instagram Shots</span>
                    <span class="instagram-title__small">- Last Instagram Shot</span>
                </h2>
                <a class="instagram-subtitle" href="#">go to our instagram page&nbsp;-</a>
            </div>
            <ul class="instagram-image">
                <li class="instagram-image__item">
                    <img class="instagram-image__pic" src="./images/instagram/post-1.png" alt="Instagram shot">
                </li>
                <li class="instagram-image__item">
                    <img class="instagram-image__pic" src="./images/instagram/post-2.png" alt="Instagram shot">
                </li>
                <li class="instagram-image__item">
                    <img class="instagram-image__pic" src="./images/instagram/post-3.png" alt="Instagram shot">
                </li>
                <li class="instagram-image__item">
                    <img class="instagram-image__pic" src="./images/instagram/post-4.png" alt="Instagram shot">
                </li>
            </ul>
        </div>
    </div>
</section>