<section>
    <div class="container ">
        <div class="posts_wrap">
            <div>
                <h2 class="content_title">- our Recent posts</h2>
            </div>
            <div class="section_content">
                <div class="post_item">
                    <div class="post-card">
                        <div class="post-card__image">
                        <img src="./images/posts/img4.png" alt="Post image">
                        </div>
                        <div class="post-card__content">
                            <h3 class="post-card__title">Aenean Adipiscing Etiam Vestibulum</h3>
                            <div class="post-card__subtitle">Photography, Journal&nbsp;&nbsp;/&nbsp;&nbsp;9 Comments</div>
                            <p class="post-card__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                        </div>
                    </div>
                </div>
                <div class="post_item">
                    <div class="post-card">
                        <div class="post-card__image">
                        <img src="./images/posts/img2.png" alt="Post image">
                        </div>
                        <div class="post-card__content">
                            <h3 class="post-card__title">Aenean Adipiscing Etiam Vestibulum</h3>
                            <div class="post-card__subtitle">Photography, Journal&nbsp;&nbsp;/&nbsp;&nbsp;9 Comments</div>
                            <p class="post-card__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                        </div>
                    </div>
                </div>
                <div class="post_item">
                    <div class="post-card">
                        <div class="post-card__image">
                        <img src="./images/posts/img1.png" alt="Post image">
                        </div>
                        <div class="post-card__content">
                            <h3 class="post-card__title">Aenean Adipiscing Etiam Vestibulum</h3>
                            <div class="post-card__subtitle">Photography, Journal&nbsp;&nbsp;/&nbsp;&nbsp;9 Comments</div>
                            <p class="post-card__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                        </div>
                    </div>
                </div>
                <div class="post_item">
                    <div class="post-card">
                        <div class="post-card__image">
                        <img src="./images/posts/img3.png" alt="Post image">
                        </div>
                        <div class="post-card__content">
                            <h3 class="post-card__title">Aenean Adipiscing Etiam Vestibulum</h3>
                            <div class="post-card__subtitle">Photography, Journal&nbsp;&nbsp;/&nbsp;&nbsp;9 Comments</div>
                            <p class="post-card__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>