@import './variables/variables.scss';
@import './base/_reset.scss';
@import './mixins/mixims.scss';

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-width: 320px;
}
  
.container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box;
}

@import './block/header.scss';
@import './sections/intro_section.scss';
@import './sections/posts_section.scss';
@import './sections/instagram_section.scss';
@import './block/footer.scss';