.footer_wrap {
    width: 100%;
    margin: 0 auto;
    padding: 66px 0 70px 0;
    background-color: #000000;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .footer_wrap {
        padding: 57px 0 56px 0;
    }

    .footer-content__text--span {
        display: none;
    }
}

.outer_wrap {
    padding-left:25px;
    padding-right: 25px;
}

.footer-content {
    @include flex-column;
    justify-content: center;
    align-items: center;

    &__title {
        @include sections-title;
        color: #FEFEFE;
        text-align: center;
        text-transform: uppercase;
    }

    &__text {
        color: #B9B9B9;
        text-align: center;
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
        line-height: 28px;
        padding: 22px 25px 0 25px;
        max-width: 42.75em;
    }
}

.socials {
    @include flex-row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 37px 0 34px 0;
}

.social__link {
    @include social-links;

        &--rss {
            border: 2px solid #F8902E;
            background: url(../images/icons/rss.svg) center / 11px no-repeat;
        }

        &--facebook {
            border: 2px solid #39599F;
            background: url(../images/icons/facebook.svg) center / 8px no-repeat;
        }

        &--twitter {
            border: 2px solid #45B0E3;
            background: url(../images/icons/twitter.svg) center / 9px no-repeat;
        }

        &--dribbble {
            border: 2px solid #D97AB0;
            background: url(../images/icons/dribbble.svg) center / 13px no-repeat;
        }

        &--pinterest {
            border: 2px solid #CC212C;
            background: url(../images/icons/pinterest.svg) center / 11px no-repeat;
        }

        &:hover {
            background-color: wheat;
        }
} 

.contacts {
    @include flex-row;
    justify-content: center;
    flex-wrap: wrap;
    color: #B9B9B9;
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
    line-height: 26px;
   
    &__tel, 
    &__email {
        text-decoration: none;
        color: #B9B9B9;
    }

    &__tel:hover, 
    &__email:hover {
        color: #FEFEFE;
    }
}

@media (max-width: 320px) {
    .outer_wrap {
        padding-left:15px;
        padding-right: 15px;
    }

    .footer_wrap {
        padding: 38px 0 47px 0;
    }

    .footer-content__title {
        font-size: $font-size-small;
    }

    .footer-content__text {
        padding: 8px 10px 0 10px;
        max-width: 30em;
        font-size: 12px;
        line-height: 22px;
    }

    .socials {
        padding: 26px 0 25px 0;
    }

    .contacts {
        @include flex-column;
        justify-content: center;
        align-items: center;
        font-weight: $font-weight-normal;
        font-size: $font-size-small;
        line-height: 28px;
    }
}