.header__nav {
    padding: 46px 0 50px 0;

        &-list {
            @include flex-row;
            justify-content: center;
        }

        &-item {
            padding: 0 2.9%;
            white-space: nowrap;
        }

        &-link {
            color: $primary-text-color;
            font-size: 11px;
            font-weight: $font-weight-normal;
            line-height: 22px;
            letter-spacing: 1.1px;
            text-transform: uppercase;
            text-decoration: none;
        }

        &-link--active {
            color: #57A4A4;
            cursor: default;
        }
}

@media (max-width: 768px) {
    .header__nav {
        display: flex;
        justify-content: flex-end;
        padding: 23px 0;

        &-list {
            display: none;
        }

        &-list.show {
            @include flex-column;
            justify-content: space-around;
            position: absolute;
            top: 60px;
            background-color:#F5F5F5;
            box-sizing: border-box;
            width: 182px;
            height: 208px;
        }

        &-item {
            padding: 0;
        }

        &-link {
            display: block;
            color: $primary-text-color;
            font-size: 11px;
            font-weight: $font-weight-normal;
            line-height: 29px;
            padding-left: 12px;
            transition: .3s;
        }

        &-link:hover {
            background-color: lightgray;
        }

        &-link--active {
            color: #57A4A4;
            cursor: default;
        }

        &-btn { 
            width: 44px;
            height: 37px;
            background-color: black;
            border: none;
            position: relative;
            padding: 0;
            outline: none;
            cursor: pointer;
    }
    
        &-btn-lines,
        &-btn-lines::before,
        &-btn-lines::after {
            position: absolute;
            width: 17px;
            height: 2px;
            background: #FFFFFF;
            top: calc(50% - 1px);
            left: calc(50% - 8.5px);
            transition: all .3s;
    }
    
    &-btn-lines::before {
        content: "";
        top: -5px;
    }
    
    &-btn-lines::after {
        content: "";
        top: 5px;
    }
}
    
    .header__nav-btn.active .header__nav-btn-lines {
        background-color: transparent;
    }
    
    .header__nav-btn.active .header__nav-btn-lines::before {
        top: 0;
        transition: all 0.2s;
        transform: rotate(45deg);
    }
    
    .header__nav-btn.active .header__nav-btn-lines::after {
        top: 0;
        transition: all 0.2s;
        transform: rotate(-45deg);
    }
}

@media (min-width: 769px) {
    .header__nav-btn {
        display: none;
    }
}