@mixin social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 31px;
    height: 31px;
    cursor: pointer;
    transition: .3s;
}

@mixin sections-title {
    font-size: $font-size-normal;
    font-weight: $font-weight-bold;
    line-height: 22px;
    text-transform: uppercase;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}